<!-- featured-collections.liquid -->
<div class="{% if section.settings.fullwidth %}container-fluid{% else %}container{% endif %}">
  <div class="section-block">
    {%- include 'section-heading' -%}
    <div class="collectionlist-wrapper">
      <div class="collectionlist-slider row" id="collection-list-{{ section.id }}"
           data-rows="{{section.settings.rows}}"
           data-slidesToShow="{{section.blocks.size}}"
           data-slidestoscroll="{{section.blocks.size}}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           data-section-type="slickCarousels">
        {%- for block in section.blocks -%}
        <div class="col collectionlist-item carousel__slide-wrapper--{{block.id}}" {{ block.shopify_attributes }}>
          {%- assign featured_collection = collections[block.settings.collection] -%}
          {%- assign featured_image = block.settings.image -%}
          {%- include 'collection-card' -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- if section.blocks.size == 0 -%}
    {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "class": "index-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection list"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Full width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
